.post {
    display: flex;
    margin-top: 40px;
    align-items: center;
}

.postAvatar img {
    width: 120px;
    height: 120px;
}

.postText {
    margin-left: 20px;
    width: 90%;
}

.postLikes {
    align-self: end;
    margin-left: 20px;
}