.user {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.userInfo{
    margin-left: 20px;
    margin-bottom: 10px;
}



.infoName a{
    font-size: 25px;
    color: black;
    text-decoration: none;
}

.infoInfo {
    margin-top: -10px;
}

.userAvatar img{
    width: 120px;
    height: 120px
}

.infoFriend button{
    padding: 3px 20px;
}

.infoFriend span{
    margin-right: 20px;
}
