.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerHeader {
    font-weight: 500;
    font-size: 40px;
}

.headerFindFriends {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

.headerFindFriends span{
    text-decoration: underline;
}

.friends {
    width: 100%;
}